<div class="container" align="center">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="row">
                <div class="col-8">
                    <h4 style="text-align:left">Modificar Producto</h4>
                </div>
                <div class="col-4 text-end">
                    <a class="btn btn-secondary" href="/admin/productos"><i class="fa fa-backward"></i> Volver</a>
                </div>
            </div>
            <div style="height:10px"></div>
            <form action="/admin/productos/modificar" method="POST">
                <input type="hidden" name="id" value="{{producto.id}}">
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeHolder="Nombre" name="nombre" value="{{producto.nombre}}">
                </div>
                <div class="mb-3 row">
                    <input type="text" class="form-control" placeHolder="Precio" name="precio" value="{{producto.precio}}">
                </div>
                <div class="mb-3 row">
                    <textarea type="text" class="form-control" placeHolder="Descripcion" name="descripcion">{{producto.descripcion}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
            {{#if error}}
                <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>